.perfil-container {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  min-height: 100vh;

  background-image: url('../Imagenes/fondoEditar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.volver-btn {
  position: absolute;
  left: 2rem;
  top: 2rem;
  padding: 0.5rem 1.2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.perfil-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: #2e2e2e;
}

.perfil-card {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.avatar-section {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  background-color: #dcd4f2;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: 40px;
  right: calc(50% - 60px);
  width: 24px;
  cursor: pointer;
}

.input-with-icon {
  position: relative;
}

.input-with-iconNombre input {
  width: 40%;
  padding: 0.6rem 2rem 0.6rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-with-icon input {
  width: 100%;
  padding: 0.6rem 2rem 0.6rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-with-icon img {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  cursor: pointer;
}

.perfil-form {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.cambiar {
  font-size: 0.85rem;
  color: #007bff;
  cursor: pointer;
}

.form-group select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-buttons {
  text-align: center;
  margin-top: 2rem;
}

.guardar {
  background-color: #2ecc71;
  color: white;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  margin-right: 1rem;
  cursor: pointer;
}

.cancelar {
  background-color: black;
  color: white;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  margin-top: 2rem;
}