.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0099cc, #003366);
    font-family: Arial, sans-serif;
}

.login-box {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: transparent;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #002855;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    background-color: #001f40;
}

.login-links {
    margin-top: 15px;
    font-size: 14px;
}

.login-links a {
    color: #cceeff;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}

.logoBlanco {
  width: 60%;   
  height: auto; 
  margin: 0 auto; 
}

.login-input,
.login-button {
  box-sizing: border-box;
}

.admin-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.admin-button:hover {
    background-color: #333;
}
